patterns:
  - /wp-admin/*
  - /wordpress/*
  - /2018/*
  - /2019/*
  - /blog/*
  - /cms//*
  - /media/*
  - /news/*
  - /shop/*
  - /site/*
  - /sito/*
  - /test/*
  - /web/*
  - /website/*
  - /wp-includes/*
  - /wp/*
  - /wp1/*
  - /wp2/*
  - //wp-includes/*
  - /contact*
  - /contact-us*
  - /.git/*
  - /xmlrpc*
  - /3ds*
  - /merchant*
  - //sito/*
  - //cms/*
  - /lander/*
  - /sberbank-quiz-4/*

log:
  - /www/log/access.log

log_lines: 5000

whitelist:
  - 127.0.0.1
  - 192.168.1.1